# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Temporary
*.tmp